[Unit]
Description=Run restic backups on my home directory

[Service]
Type=oneshot
ExecStart=/usr/bin/restic backup -q /home/steve --exclude-file=/home/steve/restic_exclude.txt

#[Install]
#WantedBy=default.target
